<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="navBar">
        <div id="logo">
            <img src="./img/logo.jpeg" id="logo-img" alt="" srcset="">
            <div id="nav-content"></div>
        </div>
    </div>
    <div id="Content">
        <div id="sideMenu">
            <ul id="menu">
                <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="/RegistrarVendas"><i class="fas fa-chart-line"></i> Registrar Vendas</a></li>
                <li><a href="/ConsultarPontos"><i class="fas fa-search"></i> Consultar Pontos</a></li>
                <li><a href="/RegistrarCliente"><i class="fas fa-user-plus"></i> Registrar Cliente</a></li>
                <li><a href="/config"><i class="fas fa-cog"></i> Configurações</a></li>
            </ul>
        </div>
        <div id="content-application">
            <div id="content">
                <h2>Consultar Pontos de Clientes </h2></br></br>

                <input type="text" id="searchInput" placeholder="Digite um nome, e-mail, telefone ou CPF">
                <button id="searchButton">Pesquisar</button>
                <div id="consolidado">
                   
                   
                </div>

                <table id="customerTable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Telefone</th>
                            <th>CPF</th>
                            <th >Total de Compras</th>
                            <th >Total de Pontos</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="./script.js"></script>
</body>
</html>
