<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="navBar">
        <div id="logo">
          <img src="./img/logo.jpeg" id="logo-img" alt="" srcset="">
          <div id="nav-content">
            <i class="fas fa-sign-out-alt logout-icon" onclick="logout()"> Sair</i>
          </div>
        </div>
      </div>
    <div id="Content">
        <div id="sideMenu">
            <Ul id="menu">
                <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="/RegistrarVendas"><i class="fas fa-chart-line"></i> Registrar Vendas</a></li>
                <li><a href="/ConsultarPontos"><i class="fas fa-search"></i> Consultar Pontos</a></li>
                <li><a href="/RegistrarCliente"><i class="fas fa-user-plus"></i> Registrar Cliente</a></li>
                <li><a href="/config"><i class="fas fa-cog"></i> Configurações</a></li>
            </Ul>
        </div>
        <div id="content-application">
            <div id="content">
                <form id="RegistrarUsuario" action="/users" method="post">
                    <h1>Cadastrar Usuário</h1><br><br>
                    <label for="name">Nome:</label><br>
                    <input type="text" id="name" name="name"><br>

                    <label for="email">E-mail:</label><br>
                    <input type="text" id="email" name="email" ><br><br>

                    <label for="tel">Telefone:</label><br>
                    <input type="tel" id="tel" name="tel" ><br><br>

                    <label for="password">Senha:</label><br>
                    <input type="password" id="password" name="password" ><br><br>

                    <input type="submit" value="Enviar">
                  </form>
            </div>
        </div>
    </div>

</body>
</html>