*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#navBar {
    display: flex;
    z-index: 1;
    align-content: space-around;
    margin:0;
    padding: 0;
    width: 100%;
    height: 14vh;
    border: none;
    background-color: #325569;
    box-shadow: 10px 5px 5px rgb(141, 136, 136);
}

#logo {
    display: flex;
    margin-left: 3vh;
    flex-direction: right;
    border:black 1px;
    width: 20vh;
    height: 10vh;
    background-color: #325569;
    
}
#logo-img{
    position: absolute;
    height: 13vh;
    width: 13vh;
}


#Content{
    display: flex;
    width: 100%;
    height:100%;
    background-color: white;
}

#sideMenu{
   display: flex;
   width: 15vh;
   height: 100vh; 
   background-color: rgb(207, 200, 200);
   box-shadow: 10px 5px 5px rgb(255, 255, 255);
   opacity: 30%;
}
ul{
    list-style: none;
    display: table-row;
    flex-direction: row-reverse;
    Margin: 5px;
    padding: 10px;
    color: black;

}

#content-application{
    margin:2vh;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    
    box-shadow: 10px 5px 5px rgb(146, 141, 141);

}

#content{
    margin:10px;
}